@import "./color_schemes/dark";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$body-font-family: Lato, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial,
  sans-serif !default;

$root-font-size: 17px !default; // Base font-size for rems

$font-size-1: 10px !default;
$font-size-1-sm: 11px !default;
$font-size-2: 12px !default; // h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 13px !default; // h5
$font-size-4: 15px !default;
$font-size-5: 17px !default; // h3
$font-size-6: 19px !default; // h2
$font-size-7: 24px !default;
$font-size-8: 32px !default; // h1
$font-size-9: 36px !default;
$font-size-10: 42px !default;
$font-size-10-sm: 48px !default;
