<meta
  name="viewport"
  content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
/>
<meta name="theme-color" content="#3c0557" />
<meta name="msapplication-TileColor" content="#7009a3" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="https://volcanicminds.com/apple-touch-icon.png?v=2"
/>
<link rel="shortcut icon" href="https://volcanicminds.com/favicon.ico?v=2" />
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="https://volcanicminds.com/favicon-32x32.png?v=2"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="https://volcanicminds.com/favicon-16x16.png?v=2"
/>
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#7009a3" />
